p{
    color: blue;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    animation: loading 5s infinite alternate forwards;
}
@keyframes loading{
    10%{
        text
    }
}
