/*header part start*/
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ccc;
}
header{
    width: 100%;
    background-color: #2f5999;
    color: white;
    display: flex;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: 30px;
    padding: 10px;
    margin-top: 10px;
    
}
.d{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
}
.d ul{
    list-style: none;
}
.d ul li{
    line-height: 50px;
    background-color: aqua;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    text-align: center;
    float: left;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.d ul li a{
    text-decoration: none;
    color: blue;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.d ul li:hover{
    background-color: crimson;
    transition: all ease-in 0.3s;
}
.d ul ul{
    display: none;
}
.d ul li:hover > ul{
    display: block;
}
/*header part end*/
/*form part start*/
.f1{
        background-color: rgb(247, 28, 71);
        color: white;
        text-align: center;
        font-size: 40px;
        margin: 0 auto;
        width: fit-content;
        height: fit-content;
        padding: 20px 80px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 4px 4px 20px  black;
 }
 .f1 input{
        padding: 5px 50px;
        border-color: rgb(247, 28, 71);
        border-radius: 50px;
}
.f1 .i1{
        font-weight: bold;
}
.f1 .i2{
        font-weight: bold;
}
/*form part end*/
/*form part end*/
/*footer part start*/
footer{
    width: 100%;
    height: px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #123438;
    color: aliceblue;
}
.d1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.d2 p{
    width: 600px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: -30px;
}
.icon div{
    position: relative;
    top: -20px;
}
.copy{
    height: 50px;
    width: 100%;
    background-color: black;
    line-height: 50px;
    font-size: 25px;
}
/*sociol part start*/
.s1{
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: -20px;
    width: 39px;
    height: 39px;
    background-image: url(social.png);
    display: inline-block;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: -39;
    
}
.s2{
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: -20px;
    width: 39px;
    height: 39px;
    background-image: url(social.png);
    display: inline-block;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: -313px 0;
}
.s3{
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: -20px;
    width: 39px;
    height: 39px;
    background-image: url(social.png);
    display: inline-block;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: -156px 0px;
}
.s4{
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: -20px;
    width: 39px;
    height: 39px;
    background-image: url(social.png);
    display: inline-block;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: -391px 0px;
}
/*sociol part end*/
/*footer part end*/